<mat-toolbar color="accent">
  <span class="toolbar-title">FindWords</span>
</mat-toolbar>

<div class="upload-container">
  <mat-card>
    <mat-card-content class="card">
      <span>Clique no botão abaixo para fazer upload de arquivos</span>

      <form enctype="multipart/form-data">
        <fieldset>
          <div class="form-group">
            <div>
              <input
                type="file"
                (change)="onUploadFiles($event.target.files)"
                name="files"
                multiple
                class="form-control"
              />
            </div>
          </div>
        </fieldset>
      </form>
    </mat-card-content>
  </mat-card>
</div>

<div class="type-search-container">
  <mat-card>
    <mat-card-content class="card">
      <span class="titulo-tabela">Vetorial</span>

      <form>
        <mat-form-field>
          <mat-label>Digite os termos aqui</mat-label>
          <input
            matInput
            placeholder="Digite algo"
            [formControl]="vetorialForm"
          />
        </mat-form-field>
        <div>
          <button
            mat-raised-button
            color="primary"
            (click)="pesquisaVetorial()"
          >
            Pesquisar
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>

<div class="type-search-container">
  <mat-card>
    <mat-card-content class="card">
      <span class="titulo-tabela">Probabilístico</span>

      <form>
        <mat-form-field>
          <mat-label>Digite os termos aqui</mat-label>
          <input
            matInput
            placeholder="Digite algo"
            [(ngModel)]="valorDoInputProbabilistico"
            name="campoDeEntrada"
          />
        </mat-form-field>
        <div>
          <button
            mat-raised-button
            color="primary"
            (click)="pesquisaProbabilistica()"
          >
            Pesquisar
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>

<div class="type-search-container">
  <mat-card>
    <mat-card-content class="card">
      <span class="titulo-tabela">Booleano</span>
      <span>Digite os termos desejados (somente uma palavra por campo)</span>
      <form>
        <div
          class="boolean-input-itens"
          *ngFor="let repeticao of repeticoes; let i = index"
        >
          <mat-form-field>
            <mat-label>Digite uma palavra</mat-label>
            <input matInput #input maxlength="20" placeholder="Ex. árvore" />
            <mat-hint align="end">{{ input.value.length }}/20</mat-hint>
          </mat-form-field>

          <ng-container
            *ngIf="repeticoes.length > 1 && repeticao != repeticoes.length"
          >
            <mat-form-field>
              <mat-label>Termo lógico</mat-label>
              <mat-select>
                <mat-option value="AND">E</mat-option>
                <mat-option value="OR">OU</mat-option>
                <mat-option value="NOT">E NÃO</mat-option>
              </mat-select>
            </mat-form-field>
          </ng-container>
        </div>
        <div class="termos-barra">
          <ng-container *ngIf="repeticoes.length < 5">
            <button
              type="button"
              class="button-term"
              mat-raised-button
              id="add-term"
              (click)="onAddTerm()"
            >
              +
            </button>
          </ng-container>
          <ng-container *ngIf="repeticoes.length > 1">
            <button
              class="button-term"
              type="button"
              mat-raised-button
              color="warn"
              (click)="onRemoveTerm()"
            >
              -
            </button>
          </ng-container>
          <button class="button-term" mat-raised-button color="primary">
            Pesquisar
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>

<mat-card>
  <mat-card-content>
    <ng-container
      *ngIf="tipoPesquisaEscolhido == tipoPesquisaTotal; else pesquisaBooleana"
    >
      <div class="cabecalho-tabela">
        <span style="font-weight: bold" class="titulo-tabela"
          >Todos os itens</span
        >
      </div>
      <app-arquivos [tipoPesquisa]="tipoPesquisaTotal"></app-arquivos>
    </ng-container>
  </mat-card-content>
</mat-card>

<ng-template #pesquisaBooleana>
  <ng-container
    *ngIf="
      tipoPesquisaEscolhido == tipoPesquisaBooleana;
      else tipoPesquisaVetorial
    "
  >
    <div class="cabecalho-tabela">
      <span style="font-weight: bold" class="titulo-tabela"
        >Resultado da pesquisa booleana</span
      >
      <button
        class="button-clear-search"
        mat-raised-button
        color="accent"
        (click)="onCleanSearch()"
      >
        Limpar
      </button>
    </div>
    <app-arquivos
      [tipoPesquisa]="tipoPesquisaBooleana"
      [termosPesquisaBooleana]="termosPesquisaBooleana"
    ></app-arquivos>
  </ng-container>
</ng-template>

<ng-template #pesquisaVetorial>
  <ng-container
    *ngIf="
      tipoPesquisaEscolhido == tipoPesquisaVetorial;
      else pesquisaProbabilistica
    "
  >
    <div class="cabecalho-tabela">
      <span style="font-weight: bold" class="titulo-tabela"
        >Resultado da pesquisa vetorial</span
      >
      <button
        class="button-clear-search"
        mat-raised-button
        color="accent"
        (click)="onCleanSearch()"
      >
        Limpar
      </button>
    </div>
    <app-arquivos
      [tipoPesquisa]="tipoPesquisaVetorial"
      [stringPesquisaVetorial]="valorDoInputVetorial"
    ></app-arquivos>
  </ng-container>
</ng-template>

<ng-template #pesquisaProbabilistica>
  <div class="cabecalho-tabela">
    <span style="font-weight: bold" class="titulo-tabela"
      >Resultado da pesquisa probabilística</span
    >
    <button
      class="button-clear-search"
      mat-raised-button
      color="accent"
      (click)="onCleanSearch()"
    >
      Limpar
    </button>
  </div>
  <app-arquivos
    [tipoPesquisa]="tipoPesquisaProbabilistica"
    [stringPesquisaProbabilistica]="valorDoInputProbabilistico"
  ></app-arquivos>
</ng-template>
