.toolbar-title{
  margin: 0 auto;
  font-family: Paprika;
  font-size: 54px;
}

.boolean-input-container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.boolean-card-title{
  text-align: center;
}

.boolean-input-itens mat-form-field + mat-form-field {
  margin-left: 4px;
}

.icon-upload{
  padding-left: 12px;
}

.icon-add-term{
  padding-left: 10px;
}

.button-term{
  margin-left: 4px;
}

[mat-raised-button][id="add-term"] {
  background-color: lightgreen;
  color: green;
}

.termos-barra{
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 10px;
}

.upload-container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.card{
  width: 500px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px
}

.cabecalho-tabela {
  text-align: center;
  margin-bottom: 15px;
  gap: 20px;
}

.titulo-tabela{
  background-color: #87dce7;
  padding: 10px;
  border-radius: 10px;
  font-weight: 500;
}

.button-clear-search{
  margin-left: 200px;
}
