<mat-toolbar color="accent">
  <span class="toolbar-title">FindWords</span>
</mat-toolbar>

<ng-container>
  <button mat-raised-button color="accent">TESTEEE</button>
</ng-container>

<ng-container class="boolean-input-container">
  <mat-form-field hintLabel="Somente uma palavra por campo">
    <mat-label>Digite uma palavra</mat-label>
    <input matInput #input maxlength="20" placeholder="Ex. árvore" />
    <mat-hint align="end">{{ input.value.length }}/20</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <mat-label>E | OU AA | NÃO</mat-label>
    <mat-select>
      <mat-option value="option">Option</mat-option>
    </mat-select>
    <mat-hint align="end">Escolha um operador lógico</mat-hint>
  </mat-form-field>
</ng-container>

<app-arquivos></app-arquivos>
